body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
table {
    height: 400px;
    width: 300px;
    text-align: center;
    border: 2px solid black;
    margin: 0;
}
th, td {
    border: 2px solid black;
}
th {
    font-size: 28px;
    background-color: chocolate;
}
tr {
    font-size: 18px;
    background-color: gold;
}
a {
    text-decoration: none;
    color: black;
}